.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease; /* Transición suave del zoom */
  }
  
  .carousel img.zoom-in {
    transform: scale(4.1); /* Ajusta el valor según el zoom que desees */
  }
  